.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    width: 90vw;
}

.imageLink{
    height: 7rem;
}

.navLink {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #0CF;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink::after {
content: "";
position: absolute;
top: -10px;
left: 3%;
width: 95%;
height: 40%;
background-color: #000;
transition: 0.5s;
transform-origin: center;
}

.navLink::before {
content: "";
transform-origin: center;
position: absolute;
top: 80%;
left: 3%;
width: 95%;
height: 40%;
background-color: #000;
transition: 0.5s;
}

.navLink:hover::before, .navLink:hover::after {
transform: scale(0)
}

.navLink:hover {
box-shadow: inset 0px 0px 25px #0CF;
}

.current{
    color: #0CF;
    text-shadow: .1rem .1rem .1rem 2rem #0CF;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}